
/* Forms CSS */
.search-from {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.search-box {
    width: 300px;
    padding: 15px;
    border: none;  
    outline: none;  
    border-radius: 20px;
}
  
.search-btn {
    margin-top: 5px; 
    width: 100px;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 13px;
}
