
.site-header {
    height: 85vh;
    background-color: #181B1E;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
  }
  
  .site-title {
    font-size: 4em;
    letter-spacing: 10px;
  }