.flights-container-section {
    min-height: 50vh;
}
.flights-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4%;
    margin: 4% 4%;  
}

.flight-container-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2em;
    animation: fade-text-in 2s;
}

@keyframes fade-text-in {
    0% { transform: scale(0); }
    100% { transform: scale(1); }  
}