/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

.site-header {
  height: 85vh;
  background-color: #181B1E;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* flex: 1 0 auto; */
}

.site-title {
  color: #FFF;
  font-size: 4em;
  letter-spacing: 10px;
}

.btn {
  border: 1px solid #0b0b0b;
  background-color: #ffca28;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #000;
  text-decoration-color: #000;
  text-decoration: none;
  vertical-align: middle;
  outline: none;

}
.btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #ffca28;
  border: 1px solid #000;
  animation: color_change .5s;
  transform: scale(0.99);
  transform: translateY(4px);
}

.btn:active {
  transform: translateY(4px);
}

@keyframes color_change {
  from {
      background-color: #ffca28;
      color: #000;
  }
  to { 
      background-color: #000;
      color: #ffca28; 
  }
}